* {
    background-color: lightgray;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}

.logo {
    display: flex;
    border-radius: 10px;
    background-color: bisque;
    border: solid black;
}

.logo>h1 {
    background-color: bisque;
    padding-right: 10px;
}

.logo>img {
    background-color: bisque;
    border-radius: 10px;
}

#login {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: bisque;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.new-book {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: bisque;
    font-size: xx-large;
}

.sort,
.book-read {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: bisque;
}

.sort>img {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}

.book-read>img {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}