/* * {
    border: 1px solid red;
} */

body {
    background-color: lightgray;
}

*::after,
*::before {
    box-sizing: border-box;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}

.logo {
    display: flex;
    border-radius: 10px;
    background-color: bisque;
    border: solid black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

}

.logo>h1 {
    background-color: bisque;
    padding-right: 10px;
}

.logo>img {
    background-color: bisque;
    border-radius: 10px;
}

#login {
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    background-color: bisque;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#login:hover {
    background-color: rgb(143, 127, 107);
}

/* BUTTON SELECTIONS */

.btn-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}


.new-book {
    min-height: 50px;
    min-width: 50px;
    border-radius: 25px;
    background-color: bisque;
    font-size: xx-large;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.new-book:hover {
    background-color: rgb(143, 127, 107);
}

.sort,
.book-read {
    min-height: 50px;
    min-width: 50px;
    border-radius: 25px;
    background-color: bisque;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button.sort:hover {
    background-color: rgb(143, 127, 107);
}

button.sort>img:hover {
    background-color: rgb(143, 127, 107);
}

button.book-read:hover {
    background-color: rgb(143, 127, 107);
}

button.book-read>img:hover {
    background-color: rgb(143, 127, 107);
}


.sort>img {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}

.book-read>img {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}

/* BOOK MODAL */

.book-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: whitesmoke;
    min-width: 20rem;
    max-width: 80%;
}

.book-modal.active {
    transform: translate(-50%, -50%) scale(1);

}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
}

.add-book>input {
    max-width: 15vw;
    max-height: 4vh;
}

.mark-read {
    margin-top: 20px;
}

button.submit {
    min-width: 10rem;
    min-height: 5rem;
    background-color: bisque;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

button.submit:hover {
    background-color: rgb(143, 127, 107);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* SIDE BAR */

.tracker {
    max-width: 15.5vw;
    min-height: 50vh;
    margin-top: 10px;
    margin-left: 35px;
    background-color: bisque;
    border: solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.tracker>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}