body {
    background-color: lightgray;
}

*::after,
*::before {
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}

.logo {
    display: flex;
    border-radius: 10px;
    background-color: bisque;
    border: solid black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);

}

.logo>h1 {
    background-color: bisque;
    padding-right: 10px;
}

.logo>img {
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);

}

#login {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: bisque;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.new-book {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: bisque;
    font-size: xx-large;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);

}

.book-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 80%;
}

.book-modal.active {
    transform: translate(-50%, -50%) scale(1);

}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.sort,
.book-read {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: bisque;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);

}

.sort>img {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}

.book-read>img {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: bisque;
}